* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, html {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

#navbar {
    overflow: hidden;
    display: block;
    position: fixed;
    background-color: #e0ebe8;
    width: 100vw;
}

.navbar {
    float: right;
    margin: 3vh 5vw 3vh 0;
}

#navbar a {
    padding: 14px 16px;
    text-decoration: none;
    margin: 5px;
    color: #008080;
}

#welcome-section {
    background: #e0ebe8;
    width: 100vw;
    height: 100vh;
    text-align: center;
    padding-top: 50vh;
}

#welcome-section h1 {
    font-size: 40px;
}

#welcome-section p {
    color: #008000;
}

#projects {
    padding-top: 60px;
    margin-top: -60px;
}

.projects {
    margin-top: 50px;
}

#projects h3 {
    color: lightslategray;
    margin-top: 50px;
}

.project-tile {
    display: inline-block;
    overflow: hidden;
    height: 220px;
    width: 280px;
    border: 2px solid gray;
    cursor: pointer;
    margin: 40px;
    text-decoration: none;
}

.project-tile img {
    width: 100%;
    height: 180px;
}

.project-tile p {
    border-top: 2px solid gray;
    color: #008000;
    padding-top: 5px;
}

#contact {
    background: #C8F7C5;
    width: 100vw;
    height: 100vh;
    text-align: center;
    padding-top: 30vh;
}

.circle {
    display: inline-block;
    font-weight: bold;
    list-style-type: none;
    border: 2px solid #90C695;
    border-radius: 100%;
    height: 100px;
    width: 100px;
    line-height: 100px;
    background: #e0ebe8;
    color: #008080;
    text-decoration: none;
    margin: 50px 35px 45px 35px;
    padding: 0;
    cursor: pointer;
}

@media only screen and (max-width: 519px) {
    #contact {
        padding-top: 55px;
    }

    .circle {
        margin: 30px;
    }
}

@media only screen and (max-width: 325px) {
    #contact {
        padding-top: 75px;
    }

    .circle {
        margin: 20px;;
    }
}


footer {
    padding: 20px;
    background: #22313F;
    color: white;
    line-height: 40px;
}

footer p a {
    cursor: pointer;
    color: white;
    line-height: 40px;
}